ui-checkbox {
  /* unchecked */
  --border-color: var(--color-neutral-dark-70);
  --color-unchecked: var(--color-neutral-light-00);

  /* checked | mixed */
  --color-checked: var(--color-action-default);

  /* hover unchecked | checked */
  --color-hover: var(--color-action-hover);
  --shadow-color-hover: var(--color-brand-01-lighter);

  /* focus */
  --outline-color-focused: var(--color-action-focus);

  /* disabled unchecked */
  --color-unchecked-disabled: var(--color-action-disabled);

  /* disabled checked | mixed */
  --color-checked-disabled: var(--color-neutral-dark-70);
}
