ui-toaster {
  --border-radius: var(--border-radius-md);
  --shadow: var(--shadow-lg);

  /* error */
  --color-error: var(--color-feedback-negative-base);
  --background-error: var(--color-feedback-negative-lightest);
  --border-color-error: var(--color-feedback-negative-lighter);

  /* info */
  --color-info: var(--color-feedback-info-base);
  --background-info: var(--color-feedback-info-lightest);
  --border-color-info: var(--color-feedback-info-lighter);

  /* success */
  --color-icon: var(--color-neutral-light-00);
  --color-success: var(--color-feedback-positive-base);
  --background-success: var(--color-feedback-positive-lightest);
  --border-color-success: var(--color-feedback-positive-lighter);

  /* warning */
  --color-icon-warning: var(--color-neutral-dark-90);
  --color-warning: var(--color-feedback-warning-base);
  --background-warning: var(--color-feedback-warning-lightest);
  --border-color-warning: var(--color-feedback-warning-lighter);
}
