<section>
  <h2>Ui Button</h2>
  <div>
    <h3>Default</h3>
    <div class="row">
      <ui-button p-label="UiButton Secondary"></ui-button>
      <ui-button p-label="UiButton Primary" p-kind="primary"></ui-button>
      <ui-button p-label="UiButton Tertiary" p-kind="tertiary"></ui-button>
    </div>
  </div>

  <div>
    <h3>Danger</h3>
    <div class="row">
      <ui-button p-label="UiButton Secondary" [p-danger]="true"></ui-button>
      <ui-button p-label="UiButton Primary" p-kind="primary" [p-danger]="true"></ui-button>
      <ui-button p-label="UiButton Tertiary" p-kind="tertiary" [p-danger]="true"></ui-button>
    </div>
  </div>

  <div>
    <h3>Disabled</h3>
    <div class="row">
      <ui-button p-label="UiButton Secondary" [p-disabled]="true"></ui-button>
      <ui-button p-label="UiButton Primary" [p-disabled]="true" p-kind="primary"></ui-button>
      <ui-button p-label="UiButton Tertiary" [p-disabled]="true" p-kind="tertiary"></ui-button>
    </div>
  </div>

  <div>
    <h3>Disabled danger</h3>
    <div class="row">
      <ui-button p-label="UiButton Secondary" p-danger="true" [p-disabled]="true"></ui-button>
      <ui-button p-label="UiButton Primary" p-danger="true" [p-disabled]="true" p-kind="primary"></ui-button>
      <ui-button p-label="UiButton Tertiary" p-danger="true" [p-disabled]="true" p-kind="tertiary"></ui-button>
    </div>
  </div>

  <div>
    <h3>Icon</h3>
    <div class="row">
      <ui-button p-label="UiButton Secondary" p-icon="fa-solid fa-circle"></ui-button>
      <ui-button p-label="UiButton Primary" p-icon="fa-solid fa-circle" p-kind="primary"></ui-button>
      <ui-button p-label="UiButton Tertiary" p-icon="fa-solid fa-circle" p-kind="tertiary"></ui-button>
    </div>
  </div>
</section>
