html {
  --color-action-default: #4545a1;
  --color-action-hover: #1f1f7a;
  --color-action-pressed: #0d0d59;
  --color-action-disabled: #b4b4c0;
  --color-action-focus: #0d0d59;

  --color-brand-01-lightest: #ebebf5;
  --color-brand-01-lighter: #c2c2e5;
  --color-brand-01-light: #9898cd;
  --color-brand-01-base: #4545a1;
  --color-brand-01-dark: #1f1f7a;
  --color-brand-01-darker: #0d0d59;
  --color-brand-01-darkest: #030330;
  --color-brand-02-lightest: #edf7ef;
  --color-brand-02-lighter: #dcefdf;
  --color-brand-02-light: #b9dfbf;
  --color-brand-02-base: #8dc897;
  --color-brand-02-dark: #50955c;
  --color-brand-02-darker: #325d39;
  --color-brand-02-darkest: #18391e;

  --color-neutral-dark-70: #515162;
  --color-neutral-dark-80: #36364a;
  --color-neutral-dark-90: #1d1d30;
  --color-neutral-dark-95: #060613;
  --color-neutral-light-10: #ececee;
  --color-neutral-light-20: #d0d0d7;
  --color-neutral-light-30: #b4b4c0;
  --color-neutral-light-00: #ffffff;
  --color-neutral-light-05: #f9f9fa;
  --color-neutral-mid-40: #9191a1;
  --color-neutral-mid-60: #69697c;

  --font-family-heading: "Open Sans";
  --font-family-text: "Open Sans";
  --font-family-code: monospace;
}
