*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: var(--color-neutral-dark-90);
  font-family: var(--font-family-text, "Arial", sans-serif);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-auto);
  line-height: var(--line-height-md);
  margin: 0;
  text-align: left;
}

code {
  background-color: var(--color-neutral-light-05);
  border-radius: var(--border-radius-sm);
  color: var(--color-neutral-dark-80);
  font-family: var(--font-family-code, "monospace");
  font-size: inherit;
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-auto);
  line-height: inherit;
  padding: var(--spacing-squish-2xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-neutral-dark-90);
  font-family: var(--font-family-heading, "Arial", sans-serif);
  font-weight: var(--font-weight-bold);
  text-align: left;
  width: 100%;
}

:is(h1, h2, h3, h4, h5, h6):empty {
  display: none;
}

h1 {
  font-size: var(--font-size-xl);
  letter-spacing: var(--letter-spacing-neg-1);
  line-height: var(--line-height-sm);
}

h2 {
  font-size: var(--font-size-lg);
  letter-spacing: var(--letter-spacing-auto);
  line-height: var(--line-height-sm);
}

h3 {
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-auto);
  line-height: var(--line-height-md);
}

h4 {
  font-size: var(--font-size-default);
  letter-spacing: var(--letter-spacing-auto);
  line-height: var(--line-height-md);
}

h5 {
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-md);
}

h6 {
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-1);
  line-height: var(--line-height-md);
}
