ui-tag {
  --border-radius: var(--border-radius-pill);

  --font-family: var(--font-family-text);
  --font-size: var(--font-size-sm);
  --line-height: var(--line-height-sm);

  /* Neutral */
  --color-neutral: var(--color-neutral-light-10);
  --text-color-neutral: var(--color-neutral-dark-80);

  /* Positive */
  --color-positive: var(--color-feedback-positive-lightest);
  --text-color-positive: var(--color-feedback-positive-dark);

  /* Negative */
  --color-negative: var(--color-feedback-negative-lightest);
  --text-color-negative: var(--color-feedback-negative-darker);

  /* Warning */
  --color-warning: var(--color-feedback-warning-lightest);
  --text-color-warning: var(--color-feedback-warning-darkest);

  /* Info */
  --color-info: var(--color-feedback-info-lightest);
  --text-color-info: var(--color-feedback-info-dark);

  /* Removable */
  --color: var(--color-brand-01-lightest);
  --border-color: var(--color-brand-01-lighter);

  --color-icon: var(--color-action-default);

  --text-color: var(--color-neutral-dark-80);

  /* Removable Hover */
  --color-hover: var(--color-brand-01-lighter);

  /* Removable Focus */
  --outline-color-focused: var(--color-action-focus);

  /* Disabled */
  --color-disabled: var(--color-neutral-light-20);
  --border-color-disabled: var(--color-action-disabled);
  --color-icon-disabled: var(--color-action-disabled);
  --text-color-disabled: var(--color-neutral-dark-70);
}
